// COLORS
$color-main: #000000;
$color-primary: #5982E7;
$color-primary-light: #B0C7FF;
$color-secondary: #5AC53A;
$color-gray: #808080;
$color-dark-gray: #48535B;
$color-light-gray: #8D8488;
$color-border: #E5E9EB;
$color-active: #E7F3FC;
$color-secondary-active: #F6F8F9;
$color-disabled: #F5F5F5;

// FONTS
$font-stack: "Inter", "Arial", sans-serif;
